<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Content-Type" content="width=device-width, initial-scale=1.0">
    <title>Форма ввода данных</title>
</head>

<body>
<a>Введите имя пользователя: </a>

<input type = "text" class="i-1" />
<input value="Поиск" type="button" onclick="getUrl()" />

<script type="text/javascript">

    function getUrl() {
        let user = document.querySelector('.i-1').value;
        let way = "http://localhost:8090/user/";
        return location.href = way + user;
    }

</script>
    </body>
</html>


